{% extends "base.html" %}
{% block title %}Self.Card Landing Page {% endblock %}
{% block head %}
  {{super()}}
{% endblock %}

    {% block content %}
    <main class="main-content">
      <div class = "container">
          <div class = "entryText">
              <h1 class = title1>Self.Card</h1>
          <p class = title2>Micro-web pages for <br /> Creatives, Developers, and More</p>
          </div>
          <div class = "main-image">
          <img 
              class = "titleImage"
              src="{{ url_for('static', filename='img/main.svg')}}" 
              alt="illustration of a hand placing an image on web page"
              height="1000"
              width="1000" />
          </div>

      </div>

      </div>
      
  </main>
      {% endblock %}

